@{
    ViewData["Title"] = "PublicNewsPaper";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model PublicNewsPaper.Models.Story

    <h2>Details</h2>
    <hr />
    <p>@Html.DisplayNameFor(model => model.Description): @Html.DisplayFor(model => model.Description)</p>
    <p>@Html.DisplayNameFor(model => model.CategoryId): @Html.DisplayFor(model => model.CategoryId)</p>
    <p>Category Name: Show category name here</p>
   


    


    <p>@Html.ActionLink("Back to list", "Index")</p>